{% layout "layouts/base.html" %} {% block content %} {% iconsprite %}
<!-- for smaller projects like this,
  this is ok. find tailwind solution if project grows -->
<style>
  .svg-row {
    fill: #4c4c4c !important;
  }
  .row-0 svg {
    fill: #2d2d2d !important;
  }
  .row-1 svg {
    fill: #353535 !important;
  }
  .row-2 svg {
    fill: #3d3d3d !important;
  }
  .row-3 svg {
    fill: #444444 !important;
  }
</style>
<main
  x-data="initData"
  @resize.window="yCount = Math.round((window.innerHeight / 2 + 36) / 60), xCount = Math.round((window.innerWidth + 36) / 200)"
  id="main-content"
  tabindex="-1"
  class="relative box-border h-[100vh] overflow-hidden border-4 border-solid border-blue border-r-green border-t-yellow border-b-hibiscus bg-grey-17 p-4 pt-8"
>
  <span x-text="yCount"></span>
  <div class="wrapper container mx-auto">
    <div class="bg-icons absolute top-[50%] left-2">
      <div class="flex flex-col">
        <template x-for="(y, i) in yCount" :key="y"
          >x-data="{ open: false }" x-effect="console.log(open)"
          <div class="svg-row flex flex-row" :class="'row-'+i">
            <template x-for="(x, i) in xCount" :key="x">
              <div class="bg-icons-group mb-[36px] flex">
                <svg
                  class="svg-x icon mr-[36px]"
                  role="img"
                  aria-hidden="true"
                  width="24"
                  height="24"
                >
                  <use xlink:href="#svg-x" class="icon mr-[36px]"></use>
                </svg>
                <svg
                  class="svg-circle icon mr-[36px]"
                  role="img"
                  aria-hidden="true"
                  width="24"
                  height="24"
                >
                  <use xlink:href="#svg-circle"></use>
                </svg>
                <svg
                  class="svg-triangle icon mr-[36px]"
                  role="img"
                  aria-hidden="true"
                  width="24"
                  height="24"
                >
                  <use xlink:href="#svg-triangle"></use>
                </svg>
                <svg
                  class="svg-plus icon mr-[36px] rotate-90"
                  role="img"
                  aria-hidden="true"
                  width="24"
                  height="24"
                >
                  <use xlink:href="#svg-plus"></use>
                </svg></div
            ></template>
          </div>
        </template>
      </div>
    </div>
    <h1 class="flex h-auto">
      <span class="hidden">{{ intro.title }}</span>
      <span class="flex w-[30rem]">
        <span class="flex max-h-[5rem] flex-1 items-center justify-center">
          <span class="inline-block w-full">
            <svg viewBox="0 0 100 100">
              <use xlink:href="#svg-smile-face-logo"></use>
            </svg>
          </span>
        </span>
        <span
          class="flex max-h-[5rem] flex-1 items-center justify-center bg-green"
        >
          <span class="inline-block w-[60%]">
            <svg viewBox="0 0 100 100">
              <use xlink:href="#svg-a-logo"></use>
            </svg>
          </span>
        </span>
        <span class="flex-1 bg-gray-400"></span>
        <span class="flex-1 bg-blue"></span>
        <span class="flex-1 bg-gray-200"></span>
        <span class="flex-1 bg-gray-500"></span>
      </span>
    </h1>
    <h2><span class="hidden">{{ intro.subtitle }}</span></h2>
  </div>
</main>
<script>
  document.addEventListener('alpine:init', () => {
    function determineWidth() {
      // win width + row el for padding. / row width
      return Math.round((window.innerWidth + 36) / 200);
    }
    function determineHeight() {
      // half height + row el height for padding. / row total height (el + spacing)
      return Math.round((window.innerHeight / 2 + 36) / 60);
    }
    function updateAlpineDimensions() {
      Alpine.data.xCount = determineWidth();
      Alpine.data.yCount = determineHeight();
    }
    const alpine = Alpine.data('initData', () => ({
      links: {{ navigation.homeNavigation | json }},
      xCount: Math.round((window.innerWidth + 36) / 200),
      yCount: Math.round((window.innerHeight / 2 + 36) / 60),
      icons: ['close-outline', 'ellipse-outline', 'triangle-outline', 'close-outline'],
    }));
  });
</script>
{% endblock %}
