{% layout "layouts/base.html" %} {% block content %} {% iconsprite %}
<!-- for smaller project like this,
  this is ok. find tailwind solution if project grows -->
<style>
  .svg-row {
    fill: #4c4c4c !important;
  }
  .row-0 svg {
    fill: #2d2d2d !important;
  }
  .row-1 svg {
    fill: #353535 !important;
  }
  .row-2 svg {
    fill: #3d3d3d !important;
  }
  .row-3 svg {
    fill: #444444 !important;
  }
</style>
<div
  x-data="initData"
  @resize.window="yCount = Math.round((window.innerHeight / 1.5 + 36) / 60), xCount = Math.round((window.innerWidth + 36) / 200)"
  id="outter-content"
  tabindex="-1"
  class="relative box-border h-[100vh] overflow-hidden border-4 border-solid border-blue border-r-green border-t-yellow border-b-hibiscus bg-grey-17 p-4 pt-8"
>
  <div class="wrapper container mx-auto">
    <h1
      class="relative z-10 mx-auto flex h-auto max-w-[20rem] flex-wrap md:max-w-[40rem]"
    >
      <span class="hidden">{{ intro.title }}</span>
      <span class="flex h-[4rem] max-h-[4rem] w-[20rem]">
        <span class="flex max-h-[4rem] flex-1 items-center justify-center">
          <span class="inline-block w-[60%]">
            <svg viewBox="0 0 100 100" class="fill-white">
              <use xlink:href="#svg-a-logo"></use>
            </svg>
          </span>
        </span>
        <span
          class="flex max-h-[4rem] flex-1 items-center justify-center bg-blue"
        >
          <span class="inline-block w-[60%]">
            <svg viewBox="0 0 100 100">
              <use xlink:href="#svg-a-logo"></use>
            </svg>
          </span>
        </span>
        <span class="flex max-h-[4rem] flex-1 items-center justify-center">
          <span class="inline-block w-[60%]">
            <svg viewBox="0 0 100 100" fill="white">
              <use xlink:href="#svg-r-logo"></use>
            </svg>
          </span>
        </span>
        <span
          class="flex max-h-[4rem] flex-1 items-center justify-center bg-blue"
        >
          <span class="inline-block w-[60%]">
            <svg viewBox="0 0 100 100">
              <use xlink:href="#svg-o-logo"></use>
            </svg>
          </span>
        </span>
        <span class="flex max-h-[4rem] flex-1 items-center justify-center">
          <span class="inline-block w-[60%]">
            <svg viewBox="0 0 100 100" class="fill-white">
              <use xlink:href="#svg-n-logo"></use>
            </svg>
          </span>
        </span>
      </span>
      <span class="flex h-[4rem] max-h-[4rem] w-[20rem]">
        <span
          class="flex max-h-[4rem] flex-1 items-center justify-center bg-blue"
        >
          <span class="inline-block w-[60%]">
            <svg viewBox="0 0 100 100">
              <use xlink:href="#svg-h-logo"></use>
            </svg>
          </span>
        </span>
        <span class="flex max-h-[4rem] flex-1 items-center justify-center">
          <span class="inline-block w-[60%]">
            <svg viewBox="0 0 100 100" class="fill-white">
              <use xlink:href="#svg-a-logo"></use>
            </svg>
          </span>
        </span>
        <span
          class="flex max-h-[4rem] flex-1 items-center justify-center bg-blue"
        >
          <span class="inline-block w-[60%]">
            <svg viewBox="0 0 100 100">
              <use xlink:href="#svg-p-logo"></use>
            </svg>
          </span>
        </span>
        <span class="flex max-h-[4rem] flex-1 items-center justify-center">
          <span class="inline-block w-[60%]">
            <svg viewBox="0 0 100 100" class="fill-white">
              <use xlink:href="#svg-p-logo"></use>
            </svg>
          </span>
        </span>
        <span
          class="flex max-h-[4rem] flex-1 items-center justify-center bg-blue"
        >
          <span class="inline-block w-[60%]">
            <svg viewBox="0 0 100 100" class="fill-white">
              <use xlink:href="#svg-e-logo"></use>
            </svg>
          </span>
        </span>
      </span>
      <span class="flex w-[40rem]">
        <span class="flex max-h-[4rem] flex-1 items-center justify-center">
          <span class="inline-block w-[4rem]">
            <svg viewBox="0 0 100 100">
              <use xlink:href="#svg-smile-face-logo"></use>
            </svg>
          </span>
        </span>
        <span
          class="flex max-h-[4rem] w-[16rem] items-center justify-center md:w-[36rem]"
        >
          <span class="inline-block w-full px-4 pt-2">
            <svg viewBox="0 0 100 100">
              <use xlink:href="#svg-portfolio"></use>
            </svg>
          </span>
        </span>
      </span>
    </h1>
    <h2><span class="hidden">{{ intro.subtitle }}</span></h2>
    <nav class="md:h-25vh md:flex md:flex-col md:justify-center">
      <ul
        class="relative z-10 mx-auto mt-12 flex flex-col items-center justify-center gap-4 md:flex-row"
      >
        <li
          class="flex w-[12rem] items-center justify-center border-4 border-blue p-2"
        >
          <a href="" class="font-bold text-white">Work</a>
        </li>
        <li
          class="flex w-[12rem] items-center justify-center border-4 border-green bg-green p-2"
        >
          <a href="" class="font-bold text-white">Demo SPA</a>
        </li>
        <li
          class="flex w-[12rem] items-center justify-center border-4 border-yellow p-2"
        >
          <a href="" class="font-bold text-white">About</a>
        </li>
      </ul>
    </nav>
    <footer
      class="fixed bottom-2 left-2 right-2 z-10 bg-grey-17/40 bg-transparent p-2 text-center text-xs"
    >
      <p class="m-2 text-white">
        Aaron Happe &copy; 2022 - Birds Aren't Real - Black Trans Lives Matter
      </p>
    </footer>
    <div class="bg-icons absolute top-[35%] left-2">
      <div class="flex flex-col">
        <template x-for="(y, i) in yCount" :key="y">
          <div class="svg-row flex flex-row" :class="'row-'+i">
            <template x-for="(x, i) in xCount" :key="x">
              <div class="bg-icons-group mb-[36px] flex">
                <svg
                  class="svg-x icon mr-[36px]"
                  role="img"
                  aria-hidden="true"
                  width="24"
                  height="24"
                >
                  <use xlink:href="#svg-x" class="icon mr-[36px]"></use>
                </svg>
                <svg
                  class="svg-circle icon mr-[36px]"
                  role="img"
                  aria-hidden="true"
                  width="24"
                  height="24"
                >
                  <use xlink:href="#svg-circle"></use>
                </svg>
                <svg
                  class="svg-triangle icon mr-[36px]"
                  role="img"
                  aria-hidden="true"
                  width="24"
                  height="24"
                >
                  <use xlink:href="#svg-triangle"></use>
                </svg>
                <svg
                  class="svg-plus icon mr-[36px] rotate-90"
                  role="img"
                  aria-hidden="true"
                  width="24"
                  height="24"
                >
                  <use xlink:href="#svg-plus"></use>
                </svg></div
            ></template>
          </div>
        </template>
      </div>
    </div>
  </div>
</div>
<script>
  document.addEventListener('alpine:init', () => {
    const alpine = Alpine.data('initData', () => ({
      xCount: Math.round((window.innerWidth + 36) / 200),
      yCount: Math.round((window.innerHeight / 1.5 + 36) / 60),
      icons: [
        'close-outline',
        'ellipse-outline',
        'triangle-outline',
        'close-outline',
      ],
    }));
  });
</script>
{% endblock %}
