<header>
  <nav class="container mx-auto">
    <div>
      <ul x-data="initData" class="flex">
        <template x-for="link in links">
          <li x-text="link.text"></li>
        </template>
      </ul>
    </div>
  </nav>
</header>
<script>
  console.log({{ navigation.headerItems | json }})
    document.addEventListener('alpine:init', () => {
      Alpine.data('initData', () => ({
        links: {{ navigation.headerItems | json }},
        open: true,
        toggle() {
          this.open = !this.open;
        },
      }));
    });
</script>
