<header>
  <nav class="container mx-auto">
    <div>
      <ul class="flex">
        {% for item in navigation.headerItems %} {% if item.url == page.url %}
        {% assign highlight = 'cursor-default' %} {% assign current =
        'aria-current="page"' %} {% else %} {% assign highlight = 'underline' %}
        {% assign current = '' %} {% endif %}
        <li>
          <a href="{{ item.url }}" class="{{ highlight }}" {{ current }}>
            {{ item.text }}
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </nav>
</header>
