<header>
  <nav class="fixed top-0 mx-auto w-full">
    <div>
      <ul x-data="initData" class="container mx-auto flex">
        <template x-for="link in links">
          <li x-text="link.text"></li>
        </template>
      </ul>
    </div>
  </nav>
</header>
<script>
  document.addEventListener('alpine:init', () => {
    Alpine.data('initData', () => ({
      links: {{ navigation.headerNavigation | json }},
      open: true,
      toggle() {
        this.open = !this.open;
      },
    }));
  });
</script>
